[[local|localrc]]

LOGFILE=stack.sh.log
LOG_COLOR=False

DATABASE_PASSWORD=pass
RABBIT_PASSWORD=pass
SERVICE_PASSWORD=pass
SERVICE_TOKEN=pass
ADMIN_PASSWORD=pass

# If you want to try pluginv2 in devstack, set to True
ENABLE_PLUGINV2=False

# Install kuryr git master source code by default.
# If you want to use stable kuryr lib, please comment out this line.
LIBS_FROM_GIT=kuryr

enable_plugin devstack-plugin-container https://github.com/openstack/devstack-plugin-container
enable_plugin kuryr-libnetwork https://git.openstack.org/openstack/kuryr-libnetwork
enable_plugin neutron https://git.openstack.org/openstack/neutron

# Use Neutron instead of nova-network
disable_service n-net
enable_service q-svc
enable_service q-dhcp
enable_service q-l3
disable_service heat
enable_service q-agt
enable_service q-qos
disable_service tempest
